.navbar {
  display: flex;
  align-items: center;
  box-shadow: none;
  position: fixed;
  background-color: transparent;
  z-index: 1111;
  color: black !important;
  transition: all 0.2s ease-in-out;
  width: 100%;
  // height: 188px;
  height: 130px;
  padding: 24px 80px;
  &.active {
    background-color: white !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
  }

  .sidebar-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sidebar-trigger {
    display: none;
  }
  &-content {
    width: 100%;
    display: flex;
    align-items: center;

    &-box {
      img {
        // cursor: pointer;
        height: 7em;
        margin-left: 0em;
        position: absolute;
        top: 2em;
        text-decoration: none;
      }

      margin-right: 32px;

      &:last-child {
        margin-right: 0px;
      }
      &:first-child {
        flex-grow: 1;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    height: 70px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    &-content-box {
      .get-started {
        display: none;
      }
      img {
        width: 50px;
        height: 50px;
        position: static;
        object-fit: contain;
        object-position: center;
      }
    }

    .sidebar-desktop {
      display: none;
    }

    .sidebar-trigger {
      display: block;
    }
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .navbar {
    padding: 26px;
  }
}

.hamburger {
  display: block;
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

.navbar-link {
  color: var(--cadet);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  padding-block: 15px;
}

.navbar-link:is(:hover, :focus) {
  color: var(--orange-soda);
}

.navbar-link {
  color: var(--cadet);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  padding-block: 15px;
}
