.banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin-bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  text-align: left;
  color: white;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
  }

  .widget-icon-list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    & > * {
      margin-bottom: 10px;
    }
  }

  .widget-icon {
    color: #5d0600;
  }

  .widget-icon-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px;
    color: #5d0600;
  }

  &-content {
    z-index: 2;
    max-width: min(100%, 956px);
    .button-container {
      margin-top: 20px;
    }
  }

  p {
    max-width: min(100%, 750px);
  }
}

@media screen and (max-width: 600px) {
  .banner h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .banner {
    p {
      &.large {
        font-size: 14px !important;
        line-height: 16px !important;
        margin-bottom: 16px !important;
      }
    }
    h1 {
      font-size: 2rem;
      line-height: 40px;
    }
  }
}
@media screen and (min-width: 768px) {
  .banner {
    padding-left: 100px;
  }
}

.quoteContainer {
  font-family: 'Georgia', serif;
  text-align: center;
  padding: 20px;
  margin: 50px auto;
  // width: 50%;
  // border: 1px solid #ccc;
  // border-radius: 10px;
  // background-color: #f9f9f9;
  position: relative;
}

.quote {
  font-size: 24px;
  font-style: italic;
  color: #fff;
  padding: 20px;
  position: relative;
}
.author {
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}
